@import url('https://fonts.googleapis.com/css2?family=Montserrat');

body{
    background:  #ceddd2 100%;
}

#title{
    text-align: center;
    font-size: 70px;
    margin-top: -10px;
    margin-left: 10px;
    color: white;
}

.a-container{
    background:  #72d4ab 100%;
    margin-left: -8px;
    width: 101.5%;
}

.b-container{
    margin-left: 10px;
    width: 101.5%;
}

.my-form{
    color: white;
    margin: 30px;
}

